*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;

}

/* navbar */

#navbar{
    width: 100%;
    height: 15vh;
    background: linear-gradient(rgb(62, 80, 92), rgba(255, 255, 255, 0.9));
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 9999;
    position: absolute;
}
#nav_elem{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
#sub_elem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sub_elem > img{
    width: 80px;
}

#sub_elem > h1{
    background-color: #3bfefe;
    background-image: linear-gradient(to top, #e25698 0%, #00b1c9 100%);
    background-size: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
}

.main__btn {
    font-size: 1.8rem;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #3cd8d8, #246f8d, #052eb3);
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }
  
    .main__btn a {
    position: relative;
    z-index: 2;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
  }
  
  .main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #3b5fd4;
    transition: all 0.35s;
    border-radius: 4px;
  }
  
  .main__btn:hover {
    color: #fff;
  }
  
  .main__btn:hover:after {
    width: 100%;
  }
  
  
  

  @media screen and (max-width: 768px){
      #sub_elem img{
          width: 50px;
      }
      #sub_elem h1{
          font-size: 1rem;
      }
      .main__btn{
          font-size: 1rem;
          padding: 8px 5px;
      }
      .main__btn a{
          font-size: 1rem;
      }
      #navbar{
          height: 10vh;
      }
  }



/* hero section */

.overlay {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
    overflow: hidden;
}
.hero-slider {
    width: 100%;
    height: 88vh;
    overflow: hidden;
}
.hero-slider .carousel-cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.hero-slider .carousel-cell .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
}
.hero-slider .carousel-cell .inner .subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 2.6rem;
    line-height: 1.2em;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
}
.hero-slider .carousel-cell .inner .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
}
.hero-slider .carousel-cell .inner .btn {
    border: 1px solid #fff;
    padding: 14px 18px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
}
.hero-slider .carousel-cell .inner .btn:hover {
    background: #fff;
    color: #000;
}
.hero-slider .flickity-prev-next-button {
    width: 80px;
    height: 80px;
    background: transparent;
}
.hero-slider .flickity-prev-next-button:hover {
    background: transparent;
}
.hero-slider .flickity-prev-next-button .arrow {
    fill: white;
}
.hero-slider .flickity-page-dots {
    bottom: 30px;
}
.hero-slider .flickity-page-dots .dot {
    width: 30px;
    height: 4px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    border: 0 solid white;
    border-radius: 0;
}
.hero-slider .flickity-page-dots .dot.is-selected {
    background: rgb(0, 204, 255);
    border: 0 solid #f00;
}


@media screen and (max-width: 768px){
    .hero-slider .flickity-prev-next-button{
        display: none;
    }
    .hero-slider .carousel-cell .inner .title{
        font-size: 2rem;
    }
}

/* image gallery */

#gallery{
    width: 100%;
    align-items: center;
    text-align: center;
    height: auto;
    background: #fff;
}

#gallery > h1{
    margin-top: 55px;
    background-color: #3bfefe;
    background-image: linear-gradient(to top, #e25698 0%, #00b1c9 100%);
    background-size: 100%;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
}

#image_gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 35px;
}

#image_gallery > a{
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
}

#image_gallery > a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease;
}

#image_gallery > a > img:hover{
    transform: scale(1.3);
}


@media screen and (max-width: 768px){
    #gallery h1{
        font-size: 1.5rem;
    }
    #image_gallery a{
        width: 160px;
        height: 120px;
        margin: 8px;
    }
}
/* services */

#services{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#services h1{
    background-color: #3bfefe;
    background-image: linear-gradient(to top, #e25698 0%, #00b1c9 100%);
    background-size: 100%;
    font-size: 2.5rem;
    text-align: center;
    margin: 20px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
}

#service{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#serv{
    width: 320px;
    height: 200px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(235, 236, 236);
    border-radius: 5px;
    box-shadow: 1px 3px 3px black;
}
#serv h2{
    font-size: 1.8rem;
    background-color: #3bfefe;
    background-image: linear-gradient(to top, #000000 0%, #ff07a0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
#sub_serv p{
    margin: 10px;
    font-weight: 700;
    font-size: 1.2rem;
}
.sub_btn{
    margin-left: 15px;
    padding: 0px 7px;
    text-align: center;    
    background: linear-gradient(rgb(77, 77, 77), rgb(40, 40, 199));
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 1px black;

}
.sub_btn:hover{
    box-shadow: 2px 2px 3px black;
    cursor: pointer;
}

#sub_serv button a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin: 0px;
    text-align: center;
}

#sub_serv span{
    background-color: #3bfefe;
    background-image: linear-gradient(to top, #000000 0%, #07e2ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
}

#serv i{
    font-size: 3rem;
    background-color: #3bfefe;
    background-image: linear-gradient(to top, #2c8083 0%, #05c23e 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}



@media screen and (max-width: 768px) {
    #services h1{
        font-size: 1.2rem;
    }
    #serv{
        width: 235px;
        height: 200px;
        margin: 8px;
        padding: 15px;
    }
    #serv h2{
        font-size: 1rem;
    }
    #sub_serv p{
        font-size: 1rem;
    }
}
/* footer */

#footer{
    margin: 50px;
    align-items: center;
    text-align: center;
}
#footer a{
    text-decoration: none;
    color: black;
}

/* contact */

#contact{
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

#contact h1{
    font-size: 1.8rem;
    background-color: #3bfefe;
    background-image: linear-gradient(to top, #000000 0%, #ff07a0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 20px;
}


#form{
    width: 90%;
    height: auto;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 1px 3px 2px rgb(114, 114, 148);
}

#for_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}


#for_1 input{
    margin: 15px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 2px 2px black;
}
#for_1 label{
    margin-bottom: -10px;
    font-size: 1.3rem;
}

#for_2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#for_2 textarea{
    margin: 15px;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 2px 2px black;
    padding: 10px;
    
}
#for_2 label{
    margin-bottom: -10px;
    font-size: 1.3rem;
}

@media screen and (max-width: 768px){
    #contact h1{
        font-size: 1.2rem;
    }

    #for_1 label{
        font-size: 1rem;
    }
    #for_2 label{
        font-size: 1rem;
    }
}
